<%= form_for(@fullpost) do |f| %>
  <% if @fullpost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fullpost.errors.count, "error") %> prohibited this fullpost from being saved:</h2>
      <% @acceptedTags = "Please use accepted tags: Food, DIY, News, or Videos" %>
      <ul>
      <% @fullpost.errors.full_messages.each do |message| %>
      <% if message == "Tag must be accepted" %>   
	  <li><%= @acceptedTags %></li>
	  <% else %>
	  <li><%= message %></li>
      <% end %>
	  <% end %>
      </ul>
    </div>
  <% end %>
<% @name = User.find(session[:user_id]) %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :tag %><br>
    <%= f.text_area :tag %>
  </div>
   <% @username = User.find(session[:user_id]).email %>
  <div class="field">
    <%= f.hidden_field :author, :value => @username %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
