<% @name = User.find(session[:user_id]) %>
<% @username = User.find(session[:user_id]).email %>
<% @posts = BlogPost.all %>

<% @user = @username.gsub(/@.*/, '') %>

<h1>Welcome <%= @user%>!</h1>
<p>Recent Posts:</p>




<% if false %>
<% @posts = @user.blog_posts %>
<% @posts.each do |post| %>
  <%= post.inspect %>
  <span class="posted"><%=  time_ago_in_words(post.post_time) %></span>
<% end %>

<% @user = User.find(session[:user_id]) %>

<% @user = @username.gsub(/@.*/, '') %>
<% @userPost = @user.blog_posts %>
<% @userPost.each do |post| %>
  <%= post.inspect %>
  <span class="posted"><%=  time_ago_in_words(post.post_time) %></span>
<% end %>
<% end %>

