<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>
<p>
  <strong>Post title:</strong>
  <%= @blog_post.post_title %>
</p>

<p>
  <strong>Post content:</strong>
  <%= @blog_post.post_content %>
</p>

<p>
  <strong>Post image url:</strong>
  <%= @blog_post.post_image_url %>
</p>

<p>
  <strong>Post author:</strong>
  <%= @blog_post.post_author %>
</p>

<p>
  <strong>Post tag:</strong>
  <%= @blog_post.post_tag %>
</p>

<%= link_to 'Edit', edit_blog_post_path(@blog_post) %> |
<%= link_to 'Back', blog_posts_path %>

<h2>Comments</h2>
<div id="blog_comments">
    <%= render :partial => @blog_post.blog_comments %>		 
</div>
 
 <%= form_for [@blog_post, BlogComment.new] do |f| %>
        <p>
                <%= f.label :body, "New comment" %><br/>
                <%= f.text_area :body %>
        </p>
        <p><%= f.submit "Add comment" %></p>
<% end %>
