<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1>Recent Posts:</h1>
<% @posts.each do |post| %>
  <div class="entry">
    <%= image_tag(post.post_image_url) %>
    <h3><%= post.post_title %></h3>
    <p><%= sanitize(post.post_content) %></p>
    <div class="post_info_line">
      <span class="author"><%=  post.post_author %></span>
      <span class="posted"><%=  time_ago_in_words(post.post_time) %></span>
    </div>
  </div>
<% end %>
