<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1>Recent Posts:</h1>
<% @posts.each do |post| %>
<% @title = post.post_title %> 
  <div class="entry">
    <%= image_tag(post.post_image_url) %>
    <h3><%= link_to @title, post %></h3>
    <p><%= sanitize(post.post_content) %></p>
    <div class="post_info_line">
      <span class="author">Posted by <%=  post.post_author.gsub(/@.*/, '') %></span>
      <span class="posted"><%= time_ago_in_words(post.created_at) %> ago</span>
    </div>

  </div>
<% end %>
