<!DOCTYPE html>
<html>
<head>
  <title>Blogger</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
  <div id="banner">
    <%= image_tag("mainicon.png") %>
    <%= @page_title || "Open Blog" %>
    <div id="menu">
      <ul>
        <lil><a href="http://www....">News</a></lil>
        <lil><a href="http://www....">Videos</a></lil>
        <lil><a href="http://www....">DIY</a></lil>
        <lil><a href="http://www....">Food</a></lil>
        <lir><%= image_tag("person.png") %></lir>
      </ul>
    </div>
  </div>
  <div id="columns">
    <div id="main">
      <%= yield %>
    </div>
  </div>
  <div id="footer">
    <%= render "layouts/footer" %>
  </div>
</body>
</html>
